@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*css reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}
body {line-height: 1; font-family: 'S-CoreDream-4Regular';
    background-color: #f1f9ff;}
ul, ol, li {list-style: none;}
a {text-decoration: none; color: black;}
img, video {vertical-align: top;}
table {border-collapse: collapse;}
input {outline:0; font-family: 'S-CoreDream-4Regular';}
h1,h2,h3,h4,h5,h6 {font-family: 'S-CoreDream-6Bold';}
button {border: none; background-color:inherit;
    cursor: pointer; font-family: 'S-CoreDream-6Bold';}

#container {display: flex; justify-content: center; align-items: center;
    height: 100vh; width: 100%;}
#container .center {width: 32%; display: flex; justify-content: center;
    align-items: center; flex-direction: column;}
#container .center .logo {width: 50%; margin-bottom: 30px;}
#container .center .logo img {width:100%;}
/*로그인 폼 박스*/
#container .center .login_box {height: 500px; width: 100%;}
#container .center .login_box form > div {width: 100%; display: flex;
    justify-content: space-between; align-items: center;}
#container .center .login_box form > div input {width: 100%; line-height: 50px;
    margin-bottom: 20px; text-indent: 15px; border-radius: 5px;
    border:1px solid #ddd; font-size: 15px;}   
#container .center .login_box form .pass_box {margin-bottom:20px;}
/*로그인 버튼*/ 
#container .center .login_box form .login_btn button {background-color: inherit;
    text-align: center; width: 100%; background-color: #2b77b5;
    line-height: 50px; border-radius: 5px; color: #fff; font-size: 18px;
    margin-bottom:15px;}
/*로그인 상태 유지 체크박스*/
#container .center .login_box form .login_remember {justify-content:left;
    margin-bottom:30px; color:#525252;}
#container .center .login_box form .login_remember input {position: absolute;
    left:-9999%;}
/*로그인 상태 유지 체크박스 체크시 백그라운드 이미지 변경*/
#container .center .login_box form .login_remember label::before {
    background-image: url(../img/check_off.png); content: ""; display: inline-block;
    width:25px; height:25px; position: relative; top:5px; margin-right:10px;
    background-repeat: no-repeat; background-size: cover;}
#container .center .login_box form .login_remember input:checked + label:before {background-image:url(../img/check_on.png);
    background-repeat: no-repeat;}
/*회원 정보 찾기*/
#container .center .login_box .forget {display: flex; justify-content: space-between;
    width: 60%; margin: auto; position: relative; margin-bottom:60px;}
#container .center .login_box .forget::after {content:""; width:620px; height:2px;
    background-color: #e5e5e5; position: absolute; left:50%; bottom:-30px;
    transform: translateX(-50%);}
#container .center .login_box .forget a {color:#525252;}  
#container .center .login_box div .bar {display: inline-block; width:2px; height:16px;
    background-color: #c9c9c9;}
/*회사 정보 및 저작권*/
#container .center .login_box .info {display: flex; justify-content:space-between;
    align-items: center;}
#container .center .login_box .info a {color:#525252; font-size: 14px;}
#container .center .login_box .copyright {display: flex; justify-content: space-between;
    align-items: center; height:80px;}
#container .center .login_box .copyright .bot_logo {width: 200px;}
#container .center .login_box .copyright .bot_logo img {width: 100%;}
#container .center .login_box .copyright span {color:#525252; font-size: 14px;}